.app-container {
  display: grid;
  height: 100vh;
}
@media (max-width: 500px) {
  .app-container {
    grid-template-areas:
      "body"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
  }
  .header {
    background-color: aquamarine;
    grid-area: header;
    height: 100%;
  }
  .body {
    grid-area: body;
    height: 100%;
    overflow-y: scroll;
  }
  .body::-webkit-scrollbar {
    display: none;
  }
  .footer {
    grid-area: footer;
    background-color: bisque;
    height: 100%;
  }
}
.footer h4 {
  text-align: center;
  font-weight: normal;
}
